*,*::before,
*,*::after {
  box-sizing: inherit;
}
html {
  font-size: 16px;

  @include tablets {
    font-size: 15px;
  }

  @include phones {
    font-size: 12px;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: rem(14px);
  line-height: rem(24px);
  font-weight: 300;
  color: #ffffff;
  background-color: #ffffff;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  overflow: hidden;
}
.container {
  position: relative;
  width: 100%;
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}
.row {
  display: flex;
}
.section {
  height: 100vh;
  min-height: rem(650px);
}
.btn {
  display: inline-block;
  vertical-align: top;
  width: rem(96px);
  padding: 3px 0;
  font-size: rem(13px);
  line-height: rem(30px);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #e45028;
  border-radius: rem(5px);
  transition: $smoothly;

  &:hover {
    background-color: #c1401e;
  }
}
.big__heading {
  @include Big-title;
}





