@import "_setting/fonts";

@import "_setting/mixin";
@import "_setting/variables";

@import "_setting/normalize";
@import "_setting/basic";

@import "section/first";
@import "section/features";
@import "section/reviews";