@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Medium.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Bold.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Light.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu.eot");
  src: url("../fonts/Ubuntu/Ubuntu.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu/Ubuntu.woff") format("woff"), url("../fonts/Ubuntu/Ubuntu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin/Gagalin-Regular.eot");
  src: url("../fonts/Gagalin/Gagalin-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gagalin/Gagalin-Regular.woff2") format("woff2"), url("../fonts/Gagalin/Gagalin-Regular.woff") format("woff"), url("../fonts/Gagalin/Gagalin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack/Lifehack-Medium.eot");
  src: url("../fonts/Lifehack/Lifehack-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lifehack/Lifehack-Medium.woff2") format("woff2"), url("../fonts/Lifehack/Lifehack-Medium.woff") format("woff"), url("../fonts/Lifehack/Lifehack-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

*, *::before,
*, *::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ffffff;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.section {
  height: 100vh;
  min-height: 650px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  width: 96px;
  padding: 3px 0;
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #e45028;
  border-radius: 5px;
  transition: all 0.4s;
}

.btn:hover {
  background-color: #c1401e;
}

.main {
  height: 100vh;
  min-height: 650px;
  padding-top: 12px;
  background: #000000 url("../img/main-bg.jpg") no-repeat;
  background-size: cover;
}

.page-header-row {
  justify-content: space-between;
  align-items: center;
}

.site-controls {
  position: fixed;
  top: 91px;
  right: 153px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}

.site-controls__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.site-controls__link::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
}

.site-controls__link:hover {
  border-color: #ffffff;
}

.site-controls__item--current .site-controls__link {
  border-color: #ffffff;
}

.page-header__logo {
  margin-right: auto;
}

.main-navigation {
  display: flex;
  margin-top: -10px;
}

.main-navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-navigation__item {
  position: relative;
  padding-right: 18px;
  margin-right: 16px;
}

.main-navigation__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 13px;
  right: -2px;
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 50%;
}

.main-navigation__item:last-child {
  margin-right: 0;
}

.main-navigation__link {
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation__link:hover {
  text-decoration: underline;
}

.order {
  margin-top: -8px;
}

.promo {
  margin-top: -15px;
  padding-left: 61px;
  padding-right: 59px;
}

.promo-row {
  align-items: center;
  margin-bottom: 89px;
}

.promo__left {
  margin-left: 65px;
  margin-right: 8px;
}

.promo-img {
  position: relative;
}

.promo-img svg {
  position: absolute;
  top: 67px;
  right: 2px;
}

.promo__title {
  margin: 0;
  margin-top: 77px;
  padding: 0;
  font-family: "Gagalin", Arial, sans-serif;
  font-size: 72px;
  line-height: 85px;
  text-transform: uppercase;
  color: #f9b43b;
}

.promo__desc {
  margin-top: 6px;
  font-family: "Lifehack", Arial, sans-serif;
  font-size: 65px;
  line-height: 73px;
  font-weight: 500;
  text-transform: lowercase;
}

.btn__down {
  display: flex;
  justify-content: center;
  margin-left: 12px;
  align-items: center;
}

.down__icon:hover {
  opacity: 0.6;
}

.down__icon:active {
  opacity: 0.3;
}

.features {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 650px;
  color: #2f3234;
  background: url("../img/features-bg.jpg") no-repeat;
  background-size: cover;
}

.features-row {
  justify-content: space-between;
  align-items: baseline;
}

.big__heading {
  margin-bottom: 90px;
  font-family: 'Gagalin', Arial, sans-serif;
  font-size: 72px;
  line-height: 64px;
  text-transform: uppercase;
}

.features-heading {
  text-align: center;
}

.features__item {
  width: 300px;
  text-align: center;
}

.features__img {
  margin-bottom: 26px;
}

.features__title {
  margin-bottom: 9px;
  font-family: "Lifehack", Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
}

.reviews-row {
  flex-wrap: wrap;
  height: 100%;
}

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative;
}

.reviews__item:hover .preview__hover {
  opacity: 1;
}

.reviews__item:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.7);
}

.preview__photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(90%);
}

.preview__hover {
  position: absolute;
  top: 8%;
  left: 1%;
  z-index: 10;
  padding: 0 18%;
  opacity: 0;
  transition: all 0.4s;
}

.preview__title {
  margin-bottom: 14px;
  font-family: "Gagalin", Arial, sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

.preview__desc {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.preview__desc--short {
  padding: 0 10%;
}

.btn-more {
  display: inline-block;
  vertical-align: top;
  padding: 5px 15px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2f3234;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.4s;
}

.btn-more:hover {
  background-color: #1f2122;
}
