@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Medium.eot');
  src: url('../fonts/Ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Ubuntu/Ubuntu-Medium.woff2') format('woff2'),
  url('../fonts/Ubuntu/Ubuntu-Medium.woff') format('woff'),
  url('../fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Bold.eot');
  src: url('../fonts/Ubuntu/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Ubuntu/Ubuntu-Bold.woff2') format('woff2'),
  url('../fonts/Ubuntu/Ubuntu-Bold.woff') format('woff'),
  url('../fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Light.eot');
  src: url('../fonts/Ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Ubuntu/Ubuntu-Light.woff2') format('woff2'),
  url('../fonts/Ubuntu/Ubuntu-Light.woff') format('woff'),
  url('../fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu.eot');
  src: url('../fonts/Ubuntu/Ubuntu.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Ubuntu/Ubuntu.woff2') format('woff2'),
  url('../fonts/Ubuntu/Ubuntu.woff') format('woff'),
  url('../fonts/Ubuntu/Ubuntu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/Gagalin/Gagalin-Regular.eot');
  src: url('../fonts/Gagalin/Gagalin-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gagalin/Gagalin-Regular.woff2') format('woff2'),
  url('../fonts/Gagalin/Gagalin-Regular.woff') format('woff'),
  url('../fonts/Gagalin/Gagalin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack';
  src: url('../fonts/Lifehack/Lifehack-Medium.eot');
  src: url('../fonts/Lifehack/Lifehack-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lifehack/Lifehack-Medium.woff2') format('woff2'),
  url('../fonts/Lifehack/Lifehack-Medium.woff') format('woff'),
  url('../fonts/Lifehack/Lifehack-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



