*,*::before,
*,*::after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ffffff;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  position: relative;
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}
.row {
  display: flex;
}
.section {
  height: 100vh;
  min-height: 650px;
}
.btn {
  display: inline-block;
  vertical-align: top;
  width: 96px;
  padding: 3px 0;
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #e45028;
  border-radius: 5px;

  &:hover {
    background-color: #c1401e;
  }
}
.global-p {
  padding: 68px 0;
}