.features {
  display: flex;
  align-items: center;
  color: #2f3234;
  background: url("../img/features-bg.jpg")  no-repeat;
  background-size: cover;

  @include phones {
    background-position: 50% 50%;
  }
}
.features-row {
  justify-content: space-between;
  align-items: baseline;

  @include phones {
    flex-direction: column;
  }
}
.features-heading {
  text-align: center;
  margin-bottom: rem(70px);

  @include tablets {
    margin-bottom: rem(40px);
    white-space: nowrap;
  }

  @include phones {
    padding-top: rem(80px);
    font-size: rem(65px);
    line-height: rem(60px);
  }
}
.features__item {
  width: 33%;
  text-align: center;

  @include phones {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: rem(18px);
    text-align: left;
  }

}
.features__pic {

  @include phones {
    margin-right: rem(15px);
  }

  &--correct {
    margin-right: 10px;
  }
}
.features__img {
  margin-bottom: rem(26px);
}
.features__meat-icon {
  fill: #e25028;
  width: 97px;
  height: 89px;
}
.features__hand-icon {
  fill: #f8b43a;
  width: 73px;
  height: 85px;
}
.features__natural-icon {
  fill: #8ac03e;
  width: 88px;
  height: 75px;
}
.features__title {
  margin-bottom: rem(9px);
  font-family: $Lifehack-font;
  font-size: rem(24px);
  line-height: rem(28px);

  @include phones {
    font-size: rem(20px);
    line-height: rem(24px);
    white-space: nowrap;
  }
}
