.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}
.main {
  padding-top: rem(12px);
  background: #000000 url("../img/main-bg.jpg") no-repeat;
  background-size: cover;
}
.page-header-row {
  justify-content: space-between;
  align-items: center;
}
.site-controls {
  position: fixed;
  top: 20%;
  right: 23%;

  @include tablets {
    display: none;
  }
}
.site-controls__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-header__logo {
  margin-right: auto;
}
.main-navigation {
  display: flex;
  margin-top: rem(-10px);

  @include tablets {
    display: none;
  }
}
.main-navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-navigation__item {
  position: relative;
  padding-right: rem(18px);
  margin-right: rem(16px);

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: rem(13px);
    right: rem(-2px);
    width: rem(4px);
    height: rem(4px);
    background-color: #ffffff;
    border-radius: 50%;
  }

  &:last-child {
    margin-right: 0;
  }
}
.main-navigation__link {
  font-size: rem(13px);
  line-height: rem(30px);
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;

  @include tablets {
    font-size: rem(24px);
    line-height: rem(40px);
    font-weight: 400;
  }

  &:hover {
    text-decoration: underline;
  }
}

.order {
  position: relative;
  margin-top: rem(-8px);
}
.burger-menu-btn {
  opacity: 0;
  transition: $smoothly;
  @include tablets {
    opacity: 1;
    position: relative;
    top: rem(7px);
    right: rem(10px);
    width: rem(24px);
    height: rem(4px);
    margin-left: rem(35px);
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    border-radius: rem(10px);
    &::before,
    &::after{
      content: "";
      position: absolute;
      width: rem(24px);
      height: rem(4px);
      background-color: #ffffff;
      border-radius: rem(10px);
    }

    &::before {
      top: rem(-8px);
      right: 0;
    }

    &::after {
      bottom: rem(-9px);
      right: 0;
    }
  }
  &--active::before {
    display: none;
  }

  &--active {
    right: rem(-15px);
    transform: rotate(126deg);
    display: block;
    z-index: 100;
    width: rem(28px);
    opacity: 0.7;
    transition: $smoothly;

    &::after {
      width: rem(28px);
      bottom: rem(1px);
      right: 0;
      transform: rotate(-72deg);
    }
  }

  @include phones {
    top: rem(3px);
    margin-left: rem(30px);
  }

}

.promo {
  margin-top: rem(-15px);
  padding-left: rem(61px);
  padding-right: rem(59px);

  @include phones {
    padding-left: rem(7px);
    padding-right: rem(7px);
  }
}
.promo-row {
  align-items: center;
  margin-bottom: rem(89px);

  @include tablets {
    flex-direction: column;
    margin-bottom: rem(12px);
  }
}
.promo__left, .promo__right {
  width: 50%;

  @include tablets {
    width: 100%;
    text-align: center;
  }
}
.promo__right {
  @include phones {
    margin-left: rem(12px);
  }
}
.promo__left {
  margin-left: rem(65px);
  margin-right: rem(8px);

  @include phones {
    margin-right: rem(75px);

  }
}

.promo-img  {
  position: relative;

  img {
    max-width: 100%;
  }
}
.promo__title {
  margin: 0;
  margin-top: rem(77px);
  padding: 0;
  font-family: $Galagin-font;
  font-size: rem(72px);
  line-height: rem(85px);
  text-transform: uppercase;
  color: #f9b43b;

  @include tablets {
    margin-top: rem(16px);
  }

  @include phones {
    white-space: nowrap;
    font-size: rem(60px);
    font-weight: 400;
    line-height: rem(60px);
  }
}
.promo__desc {
  margin-top: rem(6px);
  font-family: $Lifehack-font;
  font-size: rem(65px);
  line-height: rem(73px);
  font-weight: 500;
  text-transform: lowercase;

  @include tablets {
    margin-top: rem(23px);
  }

  @include phones {
    font-size: rem(54px);
    font-weight: 500;
    line-height: rem(60px);
  }
}
.btn__down {
  display: flex;
  justify-content: center;
  margin-left: rem(12px);
  align-items: center;
}
.down__arrow {
  fill: #ffffff;
  width: rem(29px);
  height: rem(14px);
}
.down__icon {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(#2f3234, 0.98);
  z-index: 90;
  display: none;

}
.overlay-show {
  display: block;
}

@keyframes burger-open {
  0% {
    top: - 2000px;
  }

  100% {
    top: 23%;
  }
}
.burger-menu {
  @include tablets {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 23%;
    left: 40%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 100;
    animation-name: burger-open;
    animation-duration: 0.5s;
  }
}
.burger-menu__item {
  width: rem(80px);
  position: relative;
  padding-bottom: rem(26px);
  margin-bottom: rem(23px);

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: rem(60px);
    right: rem(45px);
    width: rem(6px);
    height: rem(6px);
    background-color: #ffffff;
    border-radius: 50%;

    @include phones {
      top: 45px;
    }
  }
}
.burger-menu__item--correct {
  position: relative;
  left: rem(-30px);

  &:not(:last-child)::after {
    right: rem(13px);
  }
}
.burger-menu__item--long-text {
  left: rem(-65px);

  &:not(:last-child)::after {
    right: rem(-21px);
  }
}
.burger-menu__link {
  color: #ffffff;
  font-size: rem(24px);
  line-height: rem(40px);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

