.main {
  height: 100vh;
  min-height: 650px;
  padding-top: 12px;
  background: #000000 url("../img/main-bg.jpg") no-repeat;
  background-size: cover;
}
.page-header-row {
  justify-content: space-between;
  align-items: center;
}
.site-controls  {
  position: fixed;
  top: 91px;
  right: 153px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}
.site-controls a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  border: 1px solid transparent;
  border-radius: 50%;
}
.site-controls__item a {
  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 50%;
  }

  &:hover {
    border-color: #ffffff;
  }
}
.site-controls__item--current a {
  border-color: #ffffff;
}
.page-header__logo {
  margin-right: auto;
}
.main-navigation {
  display: flex;
  margin-top: -10px;
}
.main-navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-navigation__item {
  position: relative;
  padding-right: 18px;
  margin-right: 16px;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 13px;
    right: -2px;
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 50%;
  }

  &:last-child {
    margin-right: 0;
  }
}
.main-navigation a {
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.order {
  margin-top: -8px;
}
.promo {
  margin-top: -15px;
  padding-left: 61px;
  padding-right: 59px;
}
.promo-row {
  align-items: center;
  margin-bottom: 89px;
}

.promo__left {
  margin-left: 65px;
  margin-right: 8px;
}

.promo-img  {
  position: relative;
}
.promo-img svg {
  position: absolute;
  top: 67px;
  right: 2px;
}
.promo__title {
  margin: 0;
  margin-top: 77px;
  padding: 0;
  font-family: $Galagin-font;
  font-size: 64px;
  line-height: 85px;
  text-transform: uppercase;
  color: #f9b43b;
}
.promo__desc {
  margin-top: 6px;
  font-family: $Lifehack-font;
  font-size: 65px;
  line-height: 73px;
  font-weight: 500;
  text-transform: lowercase;
}
.btn__down {
  display: flex;
  justify-content: center;
  margin-left: 12px;
  align-items: center;
}
.down__icon {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
