.footer {
  background:  url(../img/footer-bg.png) no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}
.footer-row {
  justify-content: space-between;
  align-items: center;

  @include phones {
    flex-direction: column;
    text-align: center;
  }
}
.footer__left, .footer__right {
  width: 50%;
}
.footer__adress {
  white-space: nowrap;
}
.footer__tel {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: rem(20px);
  color: #e45028;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  @include phones {
    margin-bottom: rem(14px);
  }
}
.tel-icon {
  position: absolute;
  top: 0;
  left: 0;

  & svg {
    width: rem(12px);
    height: rem(11px);
    fill: #c84724;
  }
}
.footer__right {
  text-align: right;
}
.social__list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-left: rem(20px);
  left: 0;
  list-style-type: none;

  @include phones {
    justify-content: center;
    margin-left: rem(-23px);
  }
}
.social__link {
  display: inline-block;
  vertical-align: top;
  margin-right: rem(20px);
  width: rem(20px);
  height: rem(20px);
  background-color: transparent;
}
.social__icon {
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  & svg {
    fill: #ffffff;
  }
}
.social__icon--vk svg {
  width: rem(23px);
  height: rem(13px);
}
.social__icon--fb svg {
  width: rem(20px);
  height: rem(20px);
}
.social__icon--inst svg {
  width: rem(20px);
  height: rem(20px);
}
.social__icon--tw svg {
  width: rem(20px);
  height: rem(16px);
}
