.reviews-row {
  flex-wrap: wrap;
  height: 100%;
}
.reviews__item {
  width: 25%;
  height: 50%;
  position: relative;

  @include tablets {
    width: 50%;
    height: 25%;
    text-align: center;

    &:hover::after {
      position: static;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
    }
  }

  &:hover .preview__hover {
    opacity: 1;
  }

  &:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20,20,20,0.7);

    @include tablets {
      display: none;
    }
  }
}

.preview__photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(90%);
}
.preview__hover {
  position: absolute;
  top: 8%;
  left: 1%;
  z-index: 10;
  padding: 0 18%;
  opacity: 0;
  transition: $smoothly;

  @include phones {
    display: none;
  }
}
.preview__title {
  margin-bottom: 14px;
  font-family: $Galagin-font;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;

  @include tablets {
    margin-bottom: 0;
  }
}
.preview__desc {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;

  &--short {
    padding: 0 10%;
  }

  @include tablets {
    margin-bottom: rem(5px);
  }
}

.btn-more {
  display: inline-block;
  vertical-align: top;
  padding: 5px 15px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2f3234;
  text-decoration: none;
  border-radius: 5px;
  transition: $smoothly;

  &:hover {
    background-color: #1f2122;
  }
}




