.reviews-row {
  flex-wrap: wrap;
  height: 100%;
}
.reviews__item {
  width: 25%;
  height: 50%;
  position: relative;

  @include tablets {
    width: 50%;
    height: 25%;
    text-align: center;

    &:hover::after {
      position: static;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
    }
  }

  &:hover .preview__hover {
    opacity: 1;
  }

  &:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20,20,20,0.7);

    @include tablets {
      display: none;
    }
  }
}

.preview__photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(90%);
}
.preview__hover {
  position: absolute;
  top: 6%;
  left: 1%;
  z-index: 10;
  padding: 0 18%;
  opacity: 0;
  transition: $smoothly;

  @include phones {
    top: 1%;
    padding: 0 3%;
  }
}
.preview__title {
  margin-bottom: rem(3px);
  font-family: $Galagin-font;
  font-size: rem(14px);
  line-height: rem(28px);
  font-weight: 400;
  text-transform: uppercase;

  @include tablets {
    margin-bottom: 0;
  }
}
.preview__desc {
  margin-bottom: rem(8px);
  font-size: rem(14px);
  line-height: rem(24px);
  font-weight: 300;

  &--short {
    padding: 0 10%;
  }

  @include tablets {
    margin-bottom: rem(5px);
  }

  @include phones {
    margin-bottom: rem(3px);
  }

}

.btn-more {
  display: inline-block;
  vertical-align: top;
  padding: rem(5px) rem(15px);
  font-size: rem(13px);
  line-height: rem(30px);
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2f3234;
  text-decoration: none;
  border-radius: rem(5px);
  transition: $smoothly;

  &:hover {
    background-color: #1f2122;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#313534, 0.8);
  display: none;
  z-index: 100;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: rem(473px);
  margin-left: rem(-236px);
  padding: rem(30px) rem(20px);
  background-color: #ffffff;
  border-radius: rem(7px);
  color: #2f3234;
  display: none;
  z-index: 110;
  animation-name: modal-animation;
  animation-duration: 0.9s;

  @include phones {
    left: 52%;
    width: rem(450px);
  }
}

@keyframes modal-animation {
  0% {
    top: rem(-3000px);
  }
  50% {
    top: 65%;
  }
  100% {
    top: 50%;
  }

}
.modal-show {
  display: block;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: $smoothly;
  outline: none;
  &:hover {
    transform: scale(0.8);
  }

  &:active {
    opacity: 0.5;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: rem(23px);
    right: rem(20px);
    width: rem(20px);
    height: rem(3px);
    background-color: rgba(#e45028, 0.7);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}




