.team {
  position: relative;
  background: url(../img/team-bg.jpg) no-repeat;
  background-size: cover;
}

.team-overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 48%;
  padding: rem(90px);
  background-color: rgba(#2f3234,0.93);

  @include tablets {
    width: 100%;
  }

  @include phones {
    padding-left: rem(10px);
  }

}
.accordeon {

  @include tablets {
    text-align: center;
    margin-left: 22px;
  }
}
.team__title {
  color: #f9b43b;
  margin-bottom: rem(77px);

  @include tablets {
    margin-left: rem(55px);
    margin-bottom: rem(74px);
  }

  @include phones {
    font-size: rem(75px);
    margin-bottom: rem(50px);
  }
}
.accordeon__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.accordeon__item {
  position: relative;
  margin-bottom: rem(23px);
  color: #ffffff;

  @include tablets {
    margin-bottom: rem(33px);
  }

  @include phones {
    margin-bottom: rem(15px);
  }
}

.accordeon__item--open {
  &::before {
    display: none;
  }
}
.accordeon__item--open {
  .accordeon__link {
    color: #f9b43b;
    &::before {
      transform: rotate(-180deg);
    }
  }
  .accordeon-row {
    display: block;
  }

}
.accordeon__link {
  display: inline-flex;
  align-items: center;
  padding-left: rem(20px);
  font-family: $Galagin-font;
  font-size: rem(14px);
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;

  @include tablets {
    font-size: rem(25px);
  }

  @include phones {
    white-space: nowrap;
  }

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 0;
    height: 0;
    border-left: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    border-top: rem(6px) solid #f9b43b;

    @include tablets {
      content: "";
      position: static;
      display: inline-flex;
      margin-right: 15px;
      margin-top: 4px;
    }
  }
}
.accordeon-row {
  display: none;
  margin-top: rem(10px);
  margin-bottom: rem(28px);

  @include tablets {
    flex-direction: column;
    margin-top: rem(14px);
    margin-left: rem(25px);
    margin-bottom: rem(40px);
  }
}
.accordeon__left {
  margin-right: rem(18px);

  @include tablets {
    margin-bottom: rem(14px);
  }
}
.accordeon__right {
  margin-top: rem(-5px);
}
.accordeon__title {
  margin-bottom: rem(10px);
  font-weight: bold;
}