.team {
  position: relative;
  height: 1000px;
  background: url(../img/team-bg.jpg) no-repeat;
  background-size: cover;
}

.team-overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 48%;
  padding: 90px;
  background-color: rgba(#2f3234,0.93);

}
.team__title {
  color: #f9b43b;
  margin-bottom: 77px;
}
.accordeon__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.accordeon__item {
  position: relative;
  margin-bottom: 23px;
  color: #ffffff;
}

.accordeon__item--open {
  &::before {
    display: none;
  }
}
.accordeon__item--open {
  .accordeon__link {
    color: #f9b43b;
    &::before {
      transform: rotate(-180deg);
    }
  }

}
.accordeon__link {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  font-family: $Galagin-font;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #f9b43b;
  }
}

.accordeon-row {
  display: none;
  margin-top: 10px;
  margin-bottom: 28px;
}
.accordeon__left {
  margin-right: 18px;
}
.accordeon__right {
  margin-top: -5px;
}
.accordeon__title {
  margin-bottom: 10px;
  font-weight: bold;
}